<div class='gif'>
  <div class='image'>
    <img src="{{gif_url}}">
  </div>
  <div class='buttons'>
    <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='{{gif_url}}' id='d_clip_button' title='Click me to copy to clipboard.'>Copy to clipboard...</button>
  </div>
</div>